In [29]:
import pandas as pd
import numpy as np
import time as tm
import datetime as dt
import tensorflow as tf

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import deque

from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

import matplotlib.pyplot as plt

In [30]:
df = pd.read_csv('TSLA.csv')

In [31]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,10-07-2015,262.220001,263.000000,257.820007,259.149994,259.149994,2610900
1,13-07-2015,262.250000,262.549988,256.049988,262.160004,262.160004,2960300
2,14-07-2015,262.100006,265.989990,260.510010,265.649994,265.649994,1907600
3,15-07-2015,266.739990,267.489990,262.079987,263.140015,263.140015,2021600
4,16-07-2015,264.220001,267.200012,263.160004,266.679993,266.679993,1616000
...,...,...,...,...,...,...,...
1145,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
1146,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
1147,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
1148,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
1149,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [32]:
y = df[['Low', 'High']].mean(axis=1)
X = df.drop(['Open', 'High', 'Low', 'Close'], axis=1)

X['Date'] = X.index
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=666)

In [34]:
print(y)
print(X)

0       260.410004
1       259.299988
2       263.250000
3       264.784988
4       265.180008
           ...
1145    567.445007
1146    578.614990
1147    634.440002
1148    642.760010
1149    729.830017
Length: 1150, dtype: float64
      Date   Adj Close    Volume
0        0  259.149994   2610900
1        1  262.160004   2960300
2        2  265.649994   1907600
3        3  263.140015   2021600
4        4  266.679993   1616000
...    ...         ...       ...
1145  1145  566.900024  11788500
1146  1146  580.989990  17801500
1147  1147  640.809998  29005700
1148  1148  650.570007  15719300
1149  1149  780.000000  47065000

[1150 rows x 3 columns]

In [33]:
model = Sequential()
model.add(LSTM(60, return_sequences=True, input_shape=(N_STEPS, len(['close']))))
model.add(Dropout(0.3))
model.add(LSTM(120, return_sequences=False))
model.add(Dropout(0.3))
model.add(Dense(20))
model.add(Dense(1))

NameError: name 'N_STEPS' is not defined