In [91]:
import pandas as pd
import numpy as np
import time as tm
import datetime as dt
import tensorflow as tf

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import deque

from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

import matplotlib.pyplot as plt

In [92]:
df = pd.read_csv('TSLA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,10-07-2015,262.220001,263.000000,257.820007,259.149994,259.149994,2610900
1,13-07-2015,262.250000,262.549988,256.049988,262.160004,262.160004,2960300
2,14-07-2015,262.100006,265.989990,260.510010,265.649994,265.649994,1907600
3,15-07-2015,266.739990,267.489990,262.079987,263.140015,263.140015,2021600
4,16-07-2015,264.220001,267.200012,263.160004,266.679993,266.679993,1616000
...,...,...,...,...,...,...,...
1145,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
1146,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
1147,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
1148,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
1149,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [93]:
scaler = MinMaxScaler()
df['Close'] = scaler.fit_transform(np.expand_dims(df['Close'].values, axis=1))
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,10-07-2015,262.220001,263.000000,257.820007,0.181478,259.149994,2610900
1,13-07-2015,262.250000,262.549988,256.049988,0.186208,262.160004,2960300
2,14-07-2015,262.100006,265.989990,260.510010,0.191693,265.649994,1907600
3,15-07-2015,266.739990,267.489990,262.079987,0.187749,263.140015,2021600
4,16-07-2015,264.220001,267.200012,263.160004,0.193312,266.679993,1616000
...,...,...,...,...,...,...,...
1145,28-01-2020,568.489990,576.809998,558.080017,0.665111,566.900024,11788500
1146,29-01-2020,575.690002,589.799988,567.429993,0.687253,580.989990,17801500
1147,30-01-2020,632.419983,650.880005,618.000000,0.781261,640.809998,29005700
1148,31-01-2020,640.000000,653.000000,632.520020,0.796599,650.570007,15719300
1149,03-02-2020,673.690002,786.140015,673.520020,1.000000,780.000000,47065000

In [94]:
y = df[['Close']]
X = df.drop(['Open', 'High', 'Low', 'Adj Close'], axis=1)

X['Volume'] = X['Volume'].astype('float32') / 255
X['Date'] = df.index
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=666)

In [95]:
X_train, X_test, y_train, y_test

(      Date     Close        Volume
 1040  1040  0.110650  21240.000000
 717    717  0.220813  37330.195312
 187    187  0.178414  34730.195312
 3        3  0.187749   7927.843262
 433    433  0.210127  14416.470703
 ...    ...       ...           ...
 1115  1115  0.339462  30446.666016
 414    414  0.167853  13144.313477
 70      70  0.132683   9834.902344
 830    830  0.227602  78660.000000
 236    236  0.116700   9569.803711

 [920 rows x 3 columns],
      Date     Close        Volume
 297   297  0.082316  14076.078125
 858   858  0.339494  33183.921875
 757   757  0.271934  22436.078125
 601   601  0.272092  17866.275391
 272   272  0.129634   8876.862305
 ..    ...       ...           ...
 378   378  0.137680  15605.882812
 325   325  0.088665  11542.745117
 330   330  0.088476  16784.705078
 134   134  0.088476  12416.470703
 177   177  0.124008  19407.058594

 [230 rows x 3 columns],
          Close
 1040  0.110650
 717   0.220813
 187   0.178414
 3     0.187749
 433   0.210127
 ...        ...
 1115  0.339462
 414   0.167853
 70    0.132683
 830   0.227602
 236   0.116700

 [920 rows x 1 columns],
         Close
 297  0.082316
 858  0.339494
 757  0.271934
 601  0.272092
 272  0.129634
 ..        ...
 378  0.137680
 325  0.088665
 330  0.088476
 134  0.088476
 177  0.124008

 [230 rows x 1 columns])

In [96]:

# X_train = X_train.astype('float32') / 255
# X_test = X_test.astype('float32') / 255
# y_train = y_train.astype('float32') / 255
# y_test = y_test.astype('float32') / 255

In [97]:
epochs=50
batch_size=10

In [98]:
model = Sequential()
model.add(Dense(64, input_dim=3, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(128, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(256, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(1))

# model.add(LSTM(60, return_sequences=True, input_shape=(10, 3)))
# model.add(Dropout(0.3))
# model.add(LSTM(120, return_sequences=False))
# model.add(Dropout(0.3))
# model.add(Dense(20))
# model.add(Dense(1))

In [99]:
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size)

Epoch 1/50
92/92 [==============================] - 3s 4ms/step - loss: 0.3728
Epoch 2/50
92/92 [==============================] - 0s 4ms/step - loss: 0.1677
Epoch 3/50
92/92 [==============================] - 0s 4ms/step - loss: 0.1352
Epoch 4/50
92/92 [==============================] - 0s 4ms/step - loss: 0.1184
Epoch 5/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0883
Epoch 6/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0726
Epoch 7/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0579
Epoch 8/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0506
Epoch 9/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0420
Epoch 10/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0354
Epoch 11/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0304
Epoch 12/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0230
Epoch 13/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0217
Epoch 14/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0208
Epoch 15/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0187
Epoch 16/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0175
Epoch 17/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0167
Epoch 18/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0159
Epoch 19/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0151
Epoch 20/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0147
Epoch 21/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0143
Epoch 22/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0131
Epoch 23/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0137
Epoch 24/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0135
Epoch 25/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0127
Epoch 26/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0128
Epoch 27/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0132
Epoch 28/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0127
Epoch 29/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0128
Epoch 30/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0130
Epoch 31/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0129
Epoch 32/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0127
Epoch 33/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0131
Epoch 34/50
92/92 [==============================] - 1s 5ms/step - loss: 0.0127
Epoch 35/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0132
Epoch 36/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0131
Epoch 37/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0138
Epoch 38/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0131
Epoch 39/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0129
Epoch 40/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0135
Epoch 41/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0124
Epoch 42/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0130
Epoch 43/50
92/92 [==============================] - 0s 4ms/step - loss: 0.0129
Epoch 44/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0127
Epoch 45/50
92/92 [==============================] - 1s 6ms/step - loss: 0.0131
Epoch 46/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0127
Epoch 47/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0134
Epoch 48/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0128
Epoch 49/50
92/92 [==============================] - 1s 6ms/step - loss: 0.0128
Epoch 50/50
92/92 [==============================] - 0s 5ms/step - loss: 0.0129

In [100]:
print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [101]:
print(X_train)
print(X_test)

      Date     Close        Volume
1040  1040  0.110650  21240.000000
717    717  0.220813  37330.195312
187    187  0.178414  34730.195312
3        3  0.187749   7927.843262
433    433  0.210127  14416.470703
...    ...       ...           ...
1115  1115  0.339462  30446.666016
414    414  0.167853  13144.313477
70      70  0.132683   9834.902344
830    830  0.227602  78660.000000
236    236  0.116700   9569.803711

[920 rows x 3 columns]
     Date     Close        Volume
297   297  0.082316  14076.078125
858   858  0.339494  33183.921875
757   757  0.271934  22436.078125
601   601  0.272092  17866.275391
272   272  0.129634   8876.862305
..    ...       ...           ...
378   378  0.137680  15605.882812
325   325  0.088665  11542.745117
330   330  0.088476  16784.705078
134   134  0.088476  12416.470703
177   177  0.124008  19407.058594

[230 rows x 3 columns]

In [102]:
print(y_train)
print(y_test)

         Close
1040  0.110650
717   0.220813
187   0.178414
3     0.187749
433   0.210127
...        ...
1115  0.339462
414   0.167853
70    0.132683
830   0.227602
236   0.116700

[920 rows x 1 columns]
        Close
297  0.082316
858  0.339494
757  0.271934
601  0.272092
272  0.129634
..        ...
378  0.137680
325  0.088665
330  0.088476
134  0.088476
177  0.124008

[230 rows x 1 columns]

In [106]:
loss, acc = model.evaluate(X_test, y_test, batch_size=batch_size)
print('Accuracy:', (100.0 * acc))

TypeError: cannot unpack non-iterable float object