In [58]:
import pandas as pd
import numpy as np
import time as tm
import datetime as dt
import tensorflow as tf

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import deque

from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv('TSLA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,10-07-2015,262.220001,263.000000,257.820007,259.149994,259.149994,2610900
1,13-07-2015,262.250000,262.549988,256.049988,262.160004,262.160004,2960300
2,14-07-2015,262.100006,265.989990,260.510010,265.649994,265.649994,1907600
3,15-07-2015,266.739990,267.489990,262.079987,263.140015,263.140015,2021600
4,16-07-2015,264.220001,267.200012,263.160004,266.679993,266.679993,1616000
...,...,...,...,...,...,...,...
1145,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
1146,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
1147,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
1148,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
1149,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [60]:
scaler = MinMaxScaler()
df['Close'] = scaler.fit_transform(np.expand_dims(df['Close'].values, axis=1))
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,10-07-2015,262.220001,263.000000,257.820007,0.181478,259.149994,2610900
1,13-07-2015,262.250000,262.549988,256.049988,0.186208,262.160004,2960300
2,14-07-2015,262.100006,265.989990,260.510010,0.191693,265.649994,1907600
3,15-07-2015,266.739990,267.489990,262.079987,0.187749,263.140015,2021600
4,16-07-2015,264.220001,267.200012,263.160004,0.193312,266.679993,1616000
...,...,...,...,...,...,...,...
1145,28-01-2020,568.489990,576.809998,558.080017,0.665111,566.900024,11788500
1146,29-01-2020,575.690002,589.799988,567.429993,0.687253,580.989990,17801500
1147,30-01-2020,632.419983,650.880005,618.000000,0.781261,640.809998,29005700
1148,31-01-2020,640.000000,653.000000,632.520020,0.796599,650.570007,15719300
1149,03-02-2020,673.690002,786.140015,673.520020,1.000000,780.000000,47065000

In [61]:
y = df[['Close']]
X = df.drop(['Open', 'High', 'Low', 'Adj Close'], axis=1)

X['Date'] = df.index
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=666)

In [66]:

# X_train = X_train.astype('float32') / 255
# X_test = X_test.astype('float32') / 255
# y_train = y_train.astype('float32') / 255
# y_test = y_test.astype('float32') / 255

In [63]:
epochs=100
batch_size=10

In [75]:
model = Sequential()
model.add(Dense(64, input_dim=3, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(128, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(256, activation='tanh'))
model.add(Dropout(0.3))
model.add(Dense(1))

# model.add(LSTM(60, return_sequences=True, input_shape=(10, 3)))
# model.add(Dropout(0.3))
# model.add(LSTM(120, return_sequences=False))
# model.add(Dropout(0.3))
# model.add(Dense(20))
# model.add(Dense(1))

In [70]:
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size)

Epoch 1/100

ValueError: in user code:

    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\engine\training.py", line 1284, in train_function  *
        return step_function(self, iterator)
    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\engine\training.py", line 1268, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\engine\training.py", line 1249, in run_step  **
        outputs = model.train_step(data)
    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\engine\training.py", line 1050, in train_step
        y_pred = self(x, training=True)
    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "c:\Users\serey\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\engine\input_spec.py", line 298, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_5" is incompatible with the layer: expected shape=(None, 10, 3), found shape=(10, 3)

In [ ]:
loss, acc = model.evaluate(X_test, y_test, batch_size=batch_size)
print('Accuracy:', (100.0 * acc))

23/23 [==============================] - 0s 4ms/step - loss: 4497.1953

TypeError: cannot unpack non-iterable float object